#controlTable {
    
    width: 100pt;
    
    height: 100pt;
}

td {
    text-align: center;
}


#movebutton {
    
    width: 20pt;
    
    height: 20pt;
}


#controlPane {

    margin-top: 20pt;   
    
    width: 100pt;
    
    height: 100pt;
    
    border: 2px solid black;
    
    border-radius: 12px;
    
    margin: auto;
}