<div id=controlPane>
  <table id=controlTable>
    <tr>
      <td></td>
      <td><button id="upButton" (click)="moveUp()">&uarr;</button></td>
      <td></td>
    </tr>
    <tr>
      <td><button id="leftButton" (click)="moveLeft()">&larr;</button></td>
      <td></td>
      <td><button id="rightButton" (click)="moveRight()">	&rarr;</button></td>
    </tr>
    <tr>
      <td></td>
      <td><button id="downButton" (click)="moveDown()">&darr;</button></td>
      <td></td>
    </tr>
  </table>
</div>