#scorePane {
        float: left;

        width: 119pt;
        
        height: 90pt;
        
        border: 2px solid black;
        
        border-radius: 12px;

        margin-left: 75px;

        padding: 5pt;


    }